

<!-- <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <mat-grid-list cols="12" rowHeight="20px">
            <mat-grid-tile class="firstHeading" colspan="8">EQUIFAX <a href="">(Back to index)</a></mat-grid-tile>
            <mat-grid-tile class="secondHeading" colspan="4">Data Product Studio</mat-grid-tile>
          </mat-grid-list>
      </mat-card-title>
    </mat-card-header>
  </mat-card>  -->
  <div class="sticky">
  <app-breadcrumb [templateId]="templateId"></app-breadcrumb>
  <mat-divider></mat-divider>
</div>