.sideMenu{
    height: 100%;
    width:300px;
    border: 0.5px solid rgb(180, 174, 174);
}
.buttonGroup{
    margin: 30px;
}
.mat-stroked-button{
   
    width:200px;
    margin-top: 20px;
}

.shape{
    border: 2px solid goldenrod;
}
.shape1{
    border: 2px solid rgb(38, 233, 97);
    border-radius: 20%;
}

.shape2{
    border: 2px solid rgb(106, 83, 236);
    border-radius: 40%;
}

.shape3{
    border: 2px solid rgb(121, 33, 69);
    border-radius: 50%;
}
.heading{
    font-size: 24px;
    margin: 20px;
    
    font-weight: bold;
}

.serviceShape1{
    border: 2px solid rgb(86, 122, 241);
}

.serviceShape2{
    border: 2px solid rgb(86, 122, 241);
}

.serviceShape3{
    border: 2px solid rgb(86, 122, 241);
}
.search{
    margin: 20px;
}

#MyDia{
    width: 1500px;
    height: 500px;
    border:1px solid black;
    background-color: #e9e5e5;
}
.contentMain{
    display: inline-flex;
}