
<app-header [templateId]="templateId"></app-header>
<div class="sideMenu">
    <div class="search">
        <mat-form-field  class="formField" appearance="outline">
         <input matInput variant="out-lined" placeholder="Search" #input>
         <mat-icon matSuffix>search</mat-icon>
       </mat-form-field>
       </div>
    <!-- <button mat-stroked-button>Basic</button> -->
    <div class="heading">Patterns</div>
    <div class="buttonGroup">
    <button class="shape" mat-stroked-button>Router</button>
    <button class="shape1" mat-stroked-button>Transformer</button>
    <button class="shape2" mat-stroked-button>Splitter</button>
    <button class="shape3" mat-stroked-button>Splitter Aggregator</button>
   </div>
   <div class="heading">Services</div>
   <div class="buttonGroup">
   <button class="serviceShape1" mat-stroked-button>DFG Services</button>
   <button class="serviceShape2" mat-stroked-button>GME Service</button>
   <button class="serviceShape3" mat-stroked-button>Rule Editor Connector</button>

  </div>
</div>

