<!-- <div class="container"> -->
<!-- <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <mat-grid-list cols="12" rowHeight="20px">
            <mat-grid-tile class="firstHeading" colspan="6">Basic Flow</mat-grid-tile>
            <mat-grid-tile class="secondHeading" colspan="4">Data Products</mat-grid-tile>
            <mat-grid-tile class="secondHeading" colspan="2">Valid</mat-grid-tile>
          </mat-grid-list>
      </mat-card-title>
    </mat-card-header>
   
    <mat-card-content>
        <div class="content"></div>
        <mat-divider></mat-divider>
        <div class="description">
         <p>
            Some Desceription of this data produect template,Some Desceription of this data produect template,
            Some Desceription of this data produect template.
         </p>
        </div>
        <div class="description">
            <mat-grid-list cols="12" rowHeight="50px">
                <mat-grid-tile  colspan="6">Created By:<span class="textStyle"> John scheger</span></mat-grid-tile>
                <mat-grid-tile  colspan="6">Last Modified by: <span class="textStyle"> John Becken</span></mat-grid-tile>
                
              </mat-grid-list>
              <mat-grid-list cols="12" rowHeight="50px">
                <mat-grid-tile  colspan="6">Created:<span class="textStyle"> 6 months ago</span></mat-grid-tile>
                <mat-grid-tile  colspan="6">Last Modified: <span class="textStyle"> 2 months ago</span> </mat-grid-tile>
              </mat-grid-list>
        </div>
    </mat-card-content>
    
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <mat-grid-list cols="12" rowHeight="20px">
            <mat-grid-tile class="firstHeading" colspan="6">Fraud Flow</mat-grid-tile>
            <mat-grid-tile class="secondHeading" colspan="4">Data Products</mat-grid-tile>
            <mat-grid-tile class="secondHeading" colspan="2">InValid</mat-grid-tile>
          </mat-grid-list>
      </mat-card-title>
    </mat-card-header>
   
    <mat-card-content>
        <div class="content"></div>
        <mat-divider></mat-divider>
        <div class="description">
         <p>
            Some Desceription of this data produect template,Some Desceription of this data produect template,
            Some Desceription of this data produect template.
         </p>
        </div>
        <div class="description">
            <mat-grid-list cols="12" rowHeight="50px">
                <mat-grid-tile  colspan="6">Created By:<span class="textStyle"> John scheger</span></mat-grid-tile>
                <mat-grid-tile  colspan="6">Last Modified by: <span class="textStyle"> John Becken</span></mat-grid-tile>
                
              </mat-grid-list>
              <mat-grid-list cols="12" rowHeight="50px">
                <mat-grid-tile  colspan="6">Created:<span class="textStyle"> 6 months ago</span></mat-grid-tile>
                <mat-grid-tile  colspan="6">Last Modified: <span class="textStyle"> 2 months ago</span> </mat-grid-tile>
              </mat-grid-list>
        </div>
    </mat-card-content>
    
  </mat-card> -->


  <!-- <div style="display:inline-flex"> -->
    <div class="topContent">
      <div class="search">
      <mat-form-field  class="formField" appearance="outline">
       <input matInput (keyup)="applyFilter($event)" variant="out-lined" placeholder="Filter Product Templates" #input>
       <mat-icon matSuffix>search</mat-icon>
     </mat-form-field>
     </div>
     <div class="addButton">
     <button mat-raised-button color="primary" (click)="openDialog()">Add Product Data</button>
     </div>
     </div>
  <div class="table-container mat-elevation-z8">
    <!-- <div class="search">
      <mat-form-field  class="formField" appearance="outline">
       <input matInput (keyup)="applyFilter($event)" variant="out-lined" placeholder="Search" #input>
       <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

     </div>
     <div class="addButton">
      <button mat-raised-button color="primary" (click)="openDialog()">Create Data Product Template</button>
      </div> -->
    <mat-table #table [dataSource]="dataSource"  matSort #matSort="matSort">
  


      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data Product Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a href="#">{{element.productName}}</a> </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="sproductTemplate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Source Product Template </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sproductTemplate}} </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="lastVersionStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Version Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastVersionStatus}} </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="versions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Versions </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.versions}} </mat-cell>
      </ng-container>
  
   
      <ng-container matColumnDef="actions">
        
        <mat-header-cell *matHeaderCellDef > Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit name and description</span>
          </button>
          <button mat-menu-item>
            <mat-icon>content_copy</mat-icon>
            <span>Duplicate</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[2, 5, 10, 25, 100]">
    </mat-paginator>

    
  <!-- </div> -->

  <!-- <div class="table-container mat-elevation-z8">
    <div class="search">
      <mat-form-field  class="formField" appearance="outline">
       <input matInput (keyup)="applyFilter1($event)" variant="out-lined" placeholder="Search" #input>
       <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
     </div>
    <mat-table #table [dataSource]="dataSource1"  matSort #matSort1="matSort">
  


      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data Product Name </mat-header-cell>
        <mat-cell *matCellDef="let element"><a href="#"> {{element.productName}}</a> </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="sproductTemplate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Source Product Template </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sproductTemplate}} </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="lastVersionStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Version Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastVersionStatus}} </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="versions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Versions </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.versions}} </mat-cell>
      </ng-container>
  
   
      <ng-container matColumnDef="actions">
        
        <mat-header-cell *matHeaderCellDef > Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit name and description</span>
          </button>
          <button mat-menu-item>
            <mat-icon>content_copy</mat-icon>
            <span>Duplicate</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator1 [pageSize]="2" [pageSizeOptions]="[2, 5, 10, 25, 100]">
    </mat-paginator>

    
  </div> -->

</div>

<!-- </div> -->