<app-header [templateId]="templateId"></app-header>
<div class="sideMenu">
    <div>
        <button class="buttonClass" mat-button><mat-icon>dns</mat-icon>Data Product</button>
        <div class="subMenu">
            <button class="buttonClass" mat-button><mat-icon>device_hub</mat-icon>Orchestration</button>
            <button class="buttonClass" mat-button><mat-icon>settings</mat-icon>Settings</button>
        </div>
    </div>
    <div>
        <button class="buttonClass" mat-button><mat-icon>history</mat-icon>Versions</button>
    </div>
    <div>
        <button class="buttonClass" mat-button><mat-icon>cloud_queue</mat-icon>Releases</button>
    </div>

</div>