.dialogContent{
    width: 90%;
    margin-left: 10%;
    display: inline-flex;
}
.mat-form-field {
    display: inline;
}
.label{
    font-weight: bold;
}

.mat-dialog-actions {
    float: right;
}

.iconStyle{
    font-size: 100px
}
.section1{
    margin-top: 10%;
}
.section2{
    margin: 30px;
}