<h1 mat-dialog-title>About</h1>
<div mat-dialog-content>
    <div class="dialogContent">
      <div class="section1">
        <span class="iconStyle">D</span>
      </div>
      <div class="section2">
      <span class="label">DPS - Data Product Studio</span>
      <br/>
      <span>Version 0.80</span>
      <br/> <br/>
      <span class="label">DPS - Data Product Studio</span>
      <br/>
      <span>Version 0.80</span>
    </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="cancel()">Close</button>
</div>
