<div class="topContent">
 <div class="search">
 <mat-form-field  class="formField" appearance="standard">
  <input matInput (keyup)="applyFilter($event)" variant="out-lined" placeholder="Search" #input>
</mat-form-field>
</div>
<div class="addButton">
<button mat-raised-button color="primary">Add Product Data</button>
</div>
</div>

<div class="table-container mat-elevation-z8">
 
    <mat-table #table [dataSource]="dataSource" matSort #matSort="matSort">
  


      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data Product Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="sproductTemplate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Source Product Template </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sproductTemplate}} </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="lastVersionStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Version Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastVersionStatus}} </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="versions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Versions </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.versions}} </mat-cell>
      </ng-container>
  
   

      <ng-container matColumnDef="lastUpdate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Update </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastUpdate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.updatedBy}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="releases">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Releases </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.releases}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastRelease">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Release </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastRelease}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[2, 5, 10, 25, 100]">
    </mat-paginator>

</div>